ul {
    &.breadcrumb {
        background-color: #262626 !important;
        border-color: #333;
        color: #999;

        li {
            span {
                color: #777;
            }

            &.active {
                color: #fff;
            }
        }
    }
}
