.comiseo-daterangepicker-triggerbutton,
select {
    background: url("../img/night/dropdown-arrow-small.png");
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 23px 31px;
}
