#menu-opener {
    @include background-image-retina('menu', 'png', no-repeat, center, 17px, 13px);

    position: absolute;
    top: 0;
    left: 0;

    z-index: 4;

    border-right: 1px solid #d6d6d6;
    border-bottom: 1px solid #d6d6d6;

    background-color: #fff !important;

    cursor: pointer;

    width: 59px;
    height: 59px;

    &:hover {
        &::after {
            right: 11px;

            transition: right .2s;
        }
    }

    &::after {
        display: block;

        position: absolute;

        top: 26px;
        right: 13px;
        left: auto;

        transition: right .2s;

        border-width: 3.5px 0 3.5px 4px;
        border-style: solid;
        border-color: transparent transparent transparent $primary;

        width: 0;
        height: 0;

        content: ' ';
    }
}
