#modalMessage {
    position: relative;
    top: 50%;
    left: 50%;

    z-index: 999999;

    margin: -81px 0 0 -143px;

    border-radius: 8px;
    box-shadow: 0 0 24px rgba(0, 0, 0, .24);
    background-color: #fff;

    width: 280px;

    h2 {
        padding: 32px 30px 84px;

        line-height: 24px;
        color: #666;
        font-family: $family-medium;
        font-size: 16px;
    }

    button,
    a {
        display: block;
        position: absolute;
        bottom: 0;

        border-top: 1px solid #d6d6d6;
        background-color: #fff;

        padding: 18px 0 17px;

        width: 50%;

        text-align: center;
        line-height: normal;
        font-family: $family-medium;
        font-size: 14px;

        &:hover {
            background-color: #fbfbfb;
        }
    }

    button {
        left: 0;

        border-radius: 0 0 0 8px;

        color: #999;

        &:hover {
            color: $warning;
        }
    }

    a {
        right: 0;

        border-left: 1px solid #d6d6d6;
        border-radius: 0 0 8px;

        color: $primary;

        &:hover {
            color: $primary;
        }
    }
}

#modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    z-index: 888888;

    background-color: rgba(0, 0, 0, .5);

    width: 100%;
    height: 100%;
}
