.notification-block {
  padding: 10px 20px;
  font-size: 14px;
  border: 1px solid #d6d8d9;
  background-color: #d6d8d9;
  color: #1b1e21;

  &.info {
    background-color: #cce5ff;
    border-color: #b8daff;
    color: #004085;
  }
  &.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
  }
  &.warning {
    background-color: #fff3cd;
    border-color: #ffeeba;
    color: #856404;
  }
  &.alert {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
  }
}